<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assignment.demonativelibrary">

    <application>
        <activity
            android:name=".responsive.ResponsiveViewActivity"
            android:label="@string/responsive" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/chat_title" />
    </application>

</manifest>